<a href="/home">Home</a>
<a href="/about">About</a>
<a href="/contact">Contact</a>
<a href="/ToyShop">ToyShop</a>
<a href="/login">Login</a>
<a href="/addstudent">addstudent</a>
<a href="/addcategory">ADDCATEGORY</a>
<a href="/product">Shop</a>
<a href="/saveSession">saveSession</a>
<a href="/getSession">getSession</a>
<a href="/deleteSession">deleteSession</a>
<a href="/getSession2">getSession2</a>
<a href="/login">login</a>
<a href="/register/">register</a>
<a href="/dashboard">dashboard</a>
<a href="/maildemo">maildemo</a>
<a href="/senddetail">senddetail</a>
<a href="/addstudent">addstudent</a>
<a href="/displaystudent">displaystudent</a>
<a href="/addcategory">addcategory</a>
<a href="/displaycategory">displaycategory</a>
